
<head>

    <title>Sign Up</title>

</head>



    <div class="limiter">
        <div class="container-login100" style="/*background-image: url('/icons/bg-01.jpg');*/">
            <div class="wrap-login100 p-l-55 p-r-55 p-t-25 p-b-25">
                <form class="login100-form validate-form" method="POST" action="/signup">
                    <span class="login100-form-title p-b-25">
                        Signup
                    </span>

                    <div class="wrap-input100 validate-input m-b-10" data-validate="First Name is reauired">
                        <span class="label-input100">First Name</span>
                        <input class="input100" type="firstname" name="firstname" placeholder="Type your First Name">
                        <span class="focus-input100" data-symbol="&#xf206;"></span>
                    </div>

                    <div class="wrap-input100 validate-input m-b-10" data-validate="Lastame is reauired">
                        <span class="label-input100">Last Name</span>
                        <input class="input100" type="lastname" name="lastname" placeholder="Type your Last Name">
                        <span class="focus-input100" data-symbol="&#xf207;"></span>
                    </div>

                    <div class="wrap-input100 validate-input m-b-10" data-validate="Username is reauired">
                        <span class="label-input100">Email</span>
                        <input class="input100" type="email" name="email" placeholder="Type your email">
                        <span class="focus-input100" data-symbol="&#xf15a;"></span>
                    </div>

                    <div class="wrap-input100 validate-input m-b-10" data-validate="Username is reauired">
                        <span class="label-input100">Mobile No.</span>
                        <input class="input100" type="mobile" name="mobile" placeholder="Type your mobile">
                        <span class="focus-input100" data-symbol="&#xf2be;"></span>
                    </div>

                    <div class="wrap-input100 validate-input" data-validate="Password is required">
                        <span class="label-input100">Password</span>
                        <span class="btn-show-pass">
                            <i class="zmdi zmdi-eye" id="togglePassword"></i>
                        </span>
                        <input class="input100" id="password" type="password" name="password"
                            placeholder="Type your password">
                        <span class="focus-input100" data-symbol="&#xf190;"></span>
                    </div>
                    <div class="p-t-8 p-b-52 ">
                        <a style="float: left;" href="/login">
                            Already have an account?
                        </a>

                        <a style="float: right;" href="#">
                            Forgot password?
                        </a>
                    </div>

                    <div class="container-login100-form-btn">
                        <div class="wrap-login100-form-btn">
                            <div class="login100-form-bgbtn"></div>
                            <button class="login100-form-btn">
                               Sign Up
                            </button>
                        </div>
                    </div>

            </div>
            </form>
        </div>
    </div>
    </div>
	<script>
		const togglePassword = document.getElementById('togglePassword');
const password = document.getElementById('password');

togglePassword.addEventListener('click', ()=>{
    // toggle the type attribute
    const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
    password.setAttribute('type', type);
    // toggle the eye slash icon
    togglePassword.classList.toggle('zmdi-eye-off');
});
	</script>
