<h1 class="text-center">Templates</h1>
<div class="row m-3">
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
        <div class="card" style="max-width:auto;max-height:100%;">
            <a href="/digitalCard/template1" style="z-index:1;text-decoration: none; margin:auto">
                <img class="card-img" style="padding:15px; width:250px; height:20rem;" src="/Images/temp1.jpg"
                    alt="Card image cap">
                    {{#with user}}
                <div class="card-body pb-0" style=" height:auto;">
                   <a href="/drive?userId={{this._id}}"> <h5 class="card-title">Generate Link</h5></a>
                </div>{{/with}}
            </a>
            <div class="card-body pt-0" style=" height:auto;">
                <ul class="list-group list-group-flush">

                    <li class="list-group-item pl-0 pr-0">
                        <a href='/digitalCard/template1' class="text-primary float-left"><i aria-hidden="true"></i>
                            View</a>
                        <a href='/digitalCard/generatePdf?temp=1' class="text-primary float-right"> Built
                            PDF</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
        <div class="card" style="max-width:auto;max-height:100%;">
            <a href="/digitalCard/template2" style="z-index:1;text-decoration: none; margin:auto">
                <img class="card-img" style="padding:15px; width:250px; height:20rem;" src="/Images/temp2.jpg"
                    alt="Card image cap">
                <div class="card-body pb-0" style=" height:auto;">
                    <h5 class="card-title">Genetrate Link</h5>
                </div>
            </a>
            <div class="card-body pt-0" style=" height:auto;">
                <ul class="list-group list-group-flush">

                    <li class="list-group-item pl-0 pr-0">
                        <a href='/digitalCard/template2' class="text-primary float-left"><i aria-hidden="true"></i>
                            View</a>
                        <a href='/digitalCard/generatePdf?temp=2' class="text-primary float-right"> Built
                            PDF</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
        <div class="card" style="max-width:auto;max-height:100%;">
            <a href="/digitalCard/template3" style="z-index:1;text-decoration: none; margin:auto">
                <img class="card-img" style="padding:15px; width:250px; height:20rem;" src="/Images/temp3.jpg"
                    alt="Card image cap">
                <div class="card-body pb-0" style=" height:auto;">
                    <h5 class="card-title">Genetrate Link</h5>
                </div>
            </a>
            <div class="card-body pt-0" style=" height:auto;">
                <ul class="list-group list-group-flush">

                    <li class="list-group-item pl-0 pr-0">
                        <a href='/digitalCard/template3' class="text-primary float-left"><i aria-hidden="true"></i>
                            View</a>
                        <a href='/digitalCard/generatePdf?temp=3' class="text-primary float-right"> Built
                            PDF</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
        <div class="card" style="max-width:auto;max-height:100%;">
            <a href="/digitalCard/template4" style="z-index:1;text-decoration: none; margin:auto">
                <img class="card-img" style="padding:15px; width:250px; height:20rem;" src="/Images/temp4.jpg"
                    alt="Card image cap">
                <div class="card-body pb-0" style=" height:auto;">
                    <h5 class="card-title">Genetrate Link</h5>
                </div>
            </a>
            <div class="card-body pt-0" style=" height:auto;">
                <ul class="list-group list-group-flush">

                    <li class="list-group-item pl-0 pr-0">
                        <a href='/digitalCard/template4' class="text-primary float-left"><i aria-hidden="true"></i>
                            View</a>
                        <a href='/digitalCard/generatePdf?temp=4' class="text-primary float-right"> Built
                            PDF</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>